@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,600&display=swap');
:root {
    --primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151515;
    /* background: linear-gradient(to right, #151515, #999999); */
    font-family: 'Poppins', sans-serif;
}


/* .bitcoin {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
} */

.content {
    margin: 120px auto;
    bottom: 60px;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    filter: drop-shadow( 0 0 10px #00FF13) drop-shadow( 0 0 60px #00FF13);
}

.product {
    background-color: white;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 0.8rem 0;
    min-width: 300px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: #a6a6a6;
    font-size: 0.7rem;
    letter-spacing: 1.2px;
}

img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px #a6a6a6);
}

.product-photo {
    position: relative;
}

.photo-container {
    margin-top: 20px;
    position: absolute;
    left: -1.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 90%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px #4daf54;
}

.photo-main {
    border-radius: 6px 6px 0 0;
    background-color: #9be010;
    background: radial-gradient(#e5f89e, #96e001);
}

.photo-main .controls {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    font-size: 2em;
}

.photo-main .controls i {
    cursor: pointer;
}

.photo-main img {
    position: absolute;
    left: -2.5em;
    top: 2em;
    max-width: 100%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px #0000004d);
    transform: rotate(-15deg);
}

.photo-album {
    background-color: #fff;
    padding: 0.9em 0.5em;
    border-radius: 0 0 6px 6px;
}

.photo-album ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    /* margin-left: 20px; */
    padding: 0 25px;
}

.photo-album li {
    border: 1px solid #a6a6a6;
    float: left;
    width: 60px;
    height: 62px;
    padding: 1px;
    border-radius: 2px;
    cursor: pointer;
    filter: contrast(120%) hue-rotate(10deg) drop-shadow( 0 0 10px #4daf54) drop-shadow( 0 0 60px #4daf54);
}


/* ...............Content */

.product-info {
    padding: 0.8em 0;
}

.title h1 {
    color: #4c4c4c;
    margin-bottom: 0.1em;
    font-size: 1.5em;
    font-weight: 900;
}

.title span {
    color: #a6a6a6;
    font-size: 0.7em;
}

.price {
    margin: 1em 0;
    color: #ff3f40;
    font-size: 1.2em;
    font-weight: 700;
}

.price span {
    /* letter-spacing: 2px; */
    padding-left: 0.15em;
    font-size: 2.9em;
}

.variant {
    overflow: auto;
}

.variant h3 {
    margin-bottom: 1.1em;
}

.variant li {
    float: left;
    width: 55px;
    height: 55px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    list-style-type: none;
}

.variant li:first-child,
.variant li:hover {
    border: 1px solid #a6a6a6;
}

.variant li:not(:first-child) {
    margin-left: 0.1em;
}

.description {
    clear: left;
    margin: 2em 0;
}

.description h3 {
    margin-bottom: 1em;
    /* font-size: 2em; */
}

.description ul {
    font-size: 0.8em;
    list-style: disc;
    margin-left: 1em;
}

.description li {
    text-indent: -0.6em;
    margin-bottom: 0.5em;
}

.buy-btn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #ff3f40;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
    filter: drop-shadow( 0 0 5px #f40103) drop-shadow( 0 0 5px #f40103);
}

.buy-btn:active {
    transform: scale(0.97);
}

.buy-btn i {
    color: #4c4c4c;
    font-weight: 600;
    font-size: 1.5em;
}